.testimonio{
    padding-block-start:40px ;
    padding-block-end: 40px;
}


.testimonio-descriptivo{
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.testimonio-img img{
    max-inline-size: 100%;

}

@media screen and (min-width: 768px) {
    .testimonio{
        display: flex;
        align-items: center;
       
        padding-block-start:80px ;
        padding-block-end: 80px;
    }
    .testimonio-descriptivo{
        flex: 1;
    }
    .testimonio:nth-child(odd) .testimonio-img{
        
        order: 2;
        flex: 1;
        text-align: center; /*centrar la imagen*/

    }
}